.home {
    background-color: rgb(238, 238, 238);
    background-size: cover;
    /* position: absolute; */
}

.home .top p h3 {
    text-align: center;
    font-weight: 400;
    font-size: 1em;
    opacity: .7;
}

.home .top p h5 {
    text-align: center;
    font-weight: 400;
    font-size: 1.1em;
}

.sm_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .8em;
    height: 15em;
    padding: 1em;
}

.card_sm {
    user-select: none;
    cursor: pointer;
    background-color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(67, 196, 255, .3);
    height: 4em;
}

.card_sm:active,
.card_sm:hover {
    background-color: rgb(67, 196, 255);
}

.card_sm p {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.lower {
    padding: 1em;
}

.lower .lg_cards {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
}

.lower .sm_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .8em;
    height: 15em;
    padding: 1em;
}

.lower .card_lg {
    user-select: none;
    cursor: pointer;
    color: #fff;
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    box-shadow: 2px 2px 10px rgba(67, 196, 255, .3);
    height: 13em;
    border-radius: 1em;
}

.lower .card_lg p {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    margin: 0;
}

.card_lg h6 p:nth-of-type(1) {
    display: block;
    margin: 0;
    text-align: center;
    font-weight: 900;
}

.card_lg h6 p:nth-of-type(2) {
    display: block;
    margin: 0;
    text-align: center;
    font-weight: 200;
}

.lower .lg_cards .card_lg .span {
    grid-column: 7;
    grid-row: 1;
    width: 100%;
    padding: 20px;
    transform: scale(1.5);
}

.lower .card_lg .span span {
    cursor: pointer;
}

.lower .lg_cards .card_lg .darkp {
    grid-row: 3;
    grid-column: 1/8;
    text-align: center;
    font-weight: 900;
}

.lower .lg_cards .card_lg .lightp {
    grid-row: 4;
    grid-column: 1/8;
    text-align: center;
    font-weight: 300;
}